# Игнорировать файл с секретами
.env

# Игнорировать виртуальное окружение
venv/
.venv/
env/

# Игнорировать скомпилированные файлы Python
*.pyc
__pycache__/

# Игнорировать файлы IDE
.idea/
*.iml

# Игнорировать логи
*.log
